img.align-center {
    display: block;
    margin: 0px auto;
  }
  h1 {
    font-size: 300%;
  }
  .panel-body {
    height:250px;
    overflow-y:scroll;
    width:100%;
  }
/*.images {
  height: 250px;
  width: 100%;
}*/
.panel-title {
  height: 25px;
}

.selectpicker {
  margin-top: 20%;
  margin-bottom: 20%;
  /*padding-top: 20%;
  padding-bottom: 20%;*/
}
#zipinput {
   margin-bottom: 20%;
}
#submit {
  margin-top: 20%;
}
.img-responsive {
  margin: 0 auto;
  height: inherit;
  /*align-items: center;*/
  width: auto;
}

#mainrow {
  padding-top: 5%;
}
#featureddog, .panel-title  {
  text-align: center;
}

.featuredheading, .glyphicon-heart {
  font-size: 400%;
}
.panel {
  height: auto;
}
