.navbar-fixed-top {
min-height: 10%;
margin-bottom: 40%;
}

.nav, .navbar-nav, .navbar-right {
  font-size: 200%;
  padding-top: .5%;
  margin-right: 1%;
}
footer {
  margin-top: 5%;
}
#homepagelogo {
  margin-top: 10%;
}
#navbarlogo {
  height: 170%;
  width: 300px;
}
#shelterlist {
   border-collapse: collapse;
   border-spacing: 0;
   border: 1px solid;
}
#shelterPanel {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.panel-body{
  height:90%;
  overflow-y: scroll;
  width:inherit;
  }
  .images {
  max-height: 300px;
  width:100%;
  transition: all 1s ease;
}
.images:hover {
  transform: scale(1.25);
  /*max-height: 800px;
  max-width: 200%;*/
}
.panel-heading {
  height: 10%;
}
.panel {
  height: 500px;
  width: 220px;
}
.selectpicker {
  margin-top: 15%;
  margin-bottom: 15%;
}
#submit {
  margin-bottom: 5%;
}
#zipinput {
   margin-bottom: 20%;
}
#submit {
  margin-top: 20%;
}

#mainrow {
  margin-top: 5%;
}

.cartoons {
  height: 100%;
  width: 100%;
  position:static;
}
#summary {
  font-size: 200%;
}
.panel-title{
  height:100%;
  width: 100%;
  align-content: center;
  text-align: center;
}
.panel-body {
  text-align: center;
}
#featureddog .panel-body {
  width: 300px;
}
.name, .email, .phone {
  line-height: 200%;
}

.labels {
  font-size: 200%;
}
tr {
  border-style: solid;
  border-color: #BDAEAE;
  border-width: thin;
  word-wrap:break-word;
}
p {
  text-align: center;
}

footer, nav.navbar.navbar-default.navbar-fixed-bottom, .navbar-default {
  background-color: #e5dada;
}
nav.navbar.navbar-default.navbar-fixed-bottom {
  margin-top: 10%;
}

#getInfo {
  margin-bottom: 5%;
}
#getInfo, #submit, #clear, #search, #moreresults, #close {
  background: #FEFFA5;
  border-color: #BDAEAE;
  border-width: medium;
  color: #4C4B4B;
}
 #search{
   background: #FEFFA5;
   border-color: #BDAEAE;
   border-width: medium;
   color:black;
 }
 #featureddog {
   margin-bottom: 20%;
 }
 #featureddog .panel-heading, #shelterPanel .panel-heading, .panel-heading.dogNames {
   background-color: #BDAEAE;
 }
 /* ----------- iPhone 5 and 5S ----------- */

 /* Portrait and Landscape */
 @media only screen
   and (min-device-width: 320px)
   and (max-device-width: 568px)
   and (-webkit-min-device-pixel-ratio: 2) {
     footer {
       margin-top: 50px;
     }
     #submit {
       margin-top: 1px;
     }
     .selectpicker {
       margin-top: 20px;
     }
     #zipinput {
       margin-bottom: 20px;
     }
     .rescueList {
       word-wrap:break-word;
     }
     #moreresults {
       padding-bottom: 20px;
       margin-left: 72px;
       margin-bottom:300px;
     }
     #featureddog{
       margin-right: 500px;
     }
     #ageselect {
       margin-top: 1px;
     }
     #summary {
       font-size: 200%;
     }
     #navbarlogo {
       /*width: 200px;*/
       height: 180%;
       /*margin-top: 5%;*/
     }
     /*.navbarlinks {
       margin-top: 100%;
     }*/

 }


 /* ----------- iPhone 6 ----------- */

 /* Portrait and Landscape */
 @media only screen
   and (min-device-width: 375px)
   and (max-device-width: 667px)
   and (-webkit-min-device-pixel-ratio: 2) {
     #featureddog {
       margin-right: 90%;
     }
     #moreresults {

       margin-left: 25%;
       margin-bottom:70%;
     }
     .dogPanels {
       margin-left: 14%;
     }
    footer {
      margin-top: 12%;
    }
    #submit {
      margin-top: .2%;
    }
    .selectpicker {
      margin-top:3%; ;
    }
    #zipinput {
      margin-bottom: 5%;
    }
    .rescueList {
      word-wrap:break-word;
    }


 }
 /* ----------- iPhone 6+ ----------- */

 /* Portrait and Landscape */
 @media only screen
   and (min-device-width: 414px)
   and (max-device-width: 736px)
   and (-webkit-min-device-pixel-ratio: 3) {
     #featureddog {
       margin-left: 4%;
     }
     .dogPanels {
       margin-left: 20%;
     }
     #moreresults {
       margin-left: 26%;
     }

 }
 /* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .selectpicker {
    margin-top: 0%;
  }
  #zipinput {
    margin-bottom: 8%;
  }
  #submit {
    margin-top: 0%;
  }
  #featureddog {
    margin-left: 28%;
    width: 200%;
  }
  .dogPanels {
    margin-left: 32%;
  }
  #moreresults {
    margin-left: 25%;

  }
}

/* ----------- Galaxy S3 ----------- */

 /*Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

}
/* ----------- Galaxy S4 ----------- */
/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}
/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    #featureddog {
    margin-right: 50%;
    }
    .dogPanels {
      margin-left: 13%;
    }
    #moreresults {
      margin-left: 25%;
    }
    #homepagelogo {
      margin-top: 30%;
    }
    #navbarlogo {
      width: 85%;
      height: 70%;
    }
}
/*@media screen
and (device-width: 412px)
and (device-height: 732px) {
  #homepagelogo {
    margin-top: 30%;
  }
}
}*/
@media (max-width: 992px) {
  .selectpicker {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  #search {
    margin-top: 0;
  }
  #moreresults {
    margin-left: 26%;
  }
  .dogPanels {
    width: 300px;
  }
  #homepagelogo {
    padding-top: 10%;
  }
}

@media (max-width: 850px) {
  #homepagelogo {
    padding-top:5%;
  }
  navbar-fixed-top {
    margin-bottom: 10%;
  }
}

@media (max-width:768px) {
  .dogPanels {
    width: 300px;
    margin-left: 15%;
  }
 }

  @media (max-width: 640px) {
    #homepagelogo {
      margin-top: 20%;
    }
  }
  /*@media (max-width: 580px) {
    #homepagelogo {
      margin-top: 40%;
    }
  }*/
  @media  (max-width: 465px) {
    #zipinput {
      margin-top: 8%;
    }
  }
  @media (max-width: 440px){
    /*#homepagelogo {
      padding-top: 20%;
    }*/
    #zipinput {
      margin-top: 10%;
    }
    .navbar-fixed-top {
      margin-bottom: 30%;

    }
  }

    @media (max-width: 422px) {
      /*#zipinput {
        margin-top: 60%;
      }*/
      #navbarlogo {
        height: 180%;
        width: 290px;
      }
      .dogPanels {
        width: 300px;
        margin-left: 0%;
      }

    }
    @media (min-width: 1200px) {
      .dogPanels {
        width: 300px;
      }
      #moreresults {
        margin-left: 40%;
      }
    }
@media (min-width: 1440px) {
  #homepagelogo {
    padding-top: 1%;
  }
}
@media (min-width: 1200px) {
  #homepagelogo {
    padding-top: 1%;
  }
}
@media (height: 1096px) {
  .navbar-fixed-top {
    margin-bottom: 40%;
  }
  .navbar-fixed-bottom{
    margin-bottom: 0%;
  }
}
